<header>
<ul>
	<li class="welcome">Biology 201 | Q&A board</li>
  <li><a (click)="logout()" >Logout</a></li>
  <li><a href="#news">New Answers</a></li>
  <li><a href="#contact">Profile</a></li>
  <li><a class="active" [routerLink]="['/new_question']">Add Question </a></li>
  <li><a  [routerLink]="['/']" >Home</a></li>

</ul>

</header>




<div class="container">

  <div class="well">

    <h2 class="addQuestion">Enter your question</h2>
  <form (submit)="addQuestion()">
    <div class="form-group">
      <label >Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" name="title"
      [(ngModel)]="newQuestion.title">
    </div>
    <div class="form-group">
      <label >Description</label>
      <textarea class="form-control description-box" placeholder="Enter description" name="description"
      [(ngModel)]="newQuestion.description"
      ></textarea>
  
    </div>
    
    <button type="submit" class="btn btn-default">Add Question</button>
  </form>
</div>

</div>

<!-- <div id="content">
<br><br>
<h2 class="addQuestion">Enter your question</h2>
<form >
	<input class="question-box" type="text" name="title" value="title"
		 >
		<br>
	<textarea class="description-box" type="text" name="Description" value="description"
		  ></textarea>
	<input class="right" type="submit" name="">
	

	

</form>

</div> -->