/* You can add global styles to this file, and also import other style files */
html, body{
	height: 100%;
	width: 100%;
	background-color: #233237;
	
}
h1{
	color: #EAC67A;
}

.active{
	background-color: #233237 !important;
	color: #984B43;
}
.container{
	padding-top: 50px;
}
header{
	background-color: #984D43;
	height: 48px;
}
li a{
	color: #EAC67A !important
}
.welcome{
	color: #EAC67A !important;
}
*{
	color: rgb(73, 76, 78);
}